
.dialogs {
    display: grid;
    grid-template-columns: 7fr 3fr;
}
.dialogs_items {
    border: 1px solid;
}
.dialogs_items .active {
    color: #d77834;
}
.messages {
    border: 1px solid;
}











/*
.content {
    grid-area: c;
    color: #0b2838;
    background-color: #6cab86;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 3px 3px 3px #0b2838;
}
.profBack img {
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-position: center;
    object-fit: cover;
}
.profAvatar img{
    border-radius: 15px;
    width: 150px;

}
*/



